name: Golang Security Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read

jobs:
  sec-check:
    name: "Security Check"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache: true
          check-latest: true
          go-version-file: './go.mod'
          cache-dependency-path: './go.sum'

      - name: Run gosec
        working-directory: .
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest && gosec --quiet -r

      - name: Run govulncheck
        working-directory: .
        run: go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./...